/* General Styling */
body {
  margin:0
;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfc7c76d; 
}

.login-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  border-radius: 30px;
  text-align: center;
}

.login-container title

.login-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.login-container h6 {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Input Fields */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px 0;
  padding-left: 10px;
  margin: 8px 0;
  
  background-color: #d6d2d269;
  border: 0;
  border-bottom:1px solid grey;
  border-radius: 10px;
  font-size: 10px;
  border-radius: 0; 
  text-align: left;
  
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Ensures space between fields */
  width: 100%; /* Ensures full width */
}

.name-fields .form-group {
  flex: 1; /* Ensures equal width */
  min-width: 0; /* Prevents overflow */
}


.form-group label {
  display: grid;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #000000;
  text-align: left;
}

.password-requirement {
  font-size: 10px;
  color: #666;
  margin-top: 0.5px;
  margin-bottom: 8px;
  display: block;
  text-align: left;
}

/* Options */
.login-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container .options label {
  display: flex;
  align-items: center;
}

.login-container .options label input {
  margin-right: 5px;
}

/* Links */
.login-container a {
  color: #6f00be;
  text-decoration: none;
  font-size: 12px;
}

.login-container a:hover {
  text-decoration: underline;
}

/* Button */
.signup-button {
  background-color:hwb(271 5% 22% / 0.421);
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  width: 95%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #965eb6;
}


/* Separator */
.separator {
  border-top: 1px solid rgb(162, 161, 161);
  margin: 20px 0;
}

/* Signup Section */
.login-container .signup {
  margin-top: 20px;
  font-size: 12px;
}
